/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Basic setup */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: "Lato", " Arial", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  overflow-x: hidden;
}

.fix-size:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* reusable components */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0px;
}

.box {
  padding: 2%;
}

/* Header section */

header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./img/hero.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/hero.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.header-hero-image {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
h1 {
  color: white;
  font-weight: 350;
  font-size: 240%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 7px;
  margin-bottom: 20px;
}

.btn:link,
.btn:visited,
input[type="submit"] {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  -webkit-transition: padding 0.2s, border 0.2s;
  -o-transition: padding 0.2s, border 0.2s;
  transition: padding 0.2s, border 0.2s;
  font-size: 120%;
}

.btn-main:link,
.btn-main:visited,
input[type="submit"] {
  color: #ffffff;
  background-color: rgb(255, 166, 0);
  border: 1px solid orange;
  border-radius: 5px;
}

.btn-main:hover,
.btn-main:active {
  border: 2px solid orange;
  padding: 20px 40px;
}

.btn-second-main:link,
.btn-second-main:visited {
  color: #99c5ff;
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 15px;
}

.btn-second-main:hover,
.btn-second-main:active {
  border: 2px solid orange;
  padding: 20px 40px;
}

/* Styling navigation-bar */

.logo-img {
  height: auto;
  width: 150px;
  float: left;
  margin: 20px 0 0 80px;
}

.black-logo-img {
  display: none;
  height: auto;
  width: 80px;
  float: left;
  margin: 0px 0 5px 80px;
}

.main-nav {
  float: right;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
  list-style: none;
  padding: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  padding: 10px 0px;
}

.main-nav li a:hover {
  border-bottom: 2px solid orange;
}

/* Styling sticky-nav */

.sticky-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: #00000026 0px 3px 4px 0px;
  color: black;
  z-index: 9999;
}

.sticky-nav .main-nav {
  margin-top: 15px;
}

.sticky-nav .main-nav li {
  padding: 15px 10px;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited {
  font-size: 85%;
  color: #000000;
  padding: 15px 0px;
}

.sticky-nav .logo-img {
  display: none;
}

.sticky-nav .black-logo-img {
  display: block;
}
/* styling main-section */

h2 {
  font-weight: 400;
  font-size: 180%;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

h2:after {
  content: " ";
  display: block;
  height: 2px;
  width: 60%;
  background-color: #ff8800;
  margin: 30px auto;
}

.long-para {
  line-height: 140%;
  width: 72%;
  margin-left: 18%;
  font-size: 110%;
  margin-bottom: 20px;
}

h3 {
  font-size: 100%;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.bigIcon {
  color: #ff9823;
  font-size: 400%;
  margin-bottom: 7px;
}

/* Styling meal-section */

.meal-section {
  width: 100%;
  margin-top: 20px;
  padding: 0px;
}

.meal-photo {
  list-style: none;
  width: 100%;
}

.meal-photo li {
  display: block;
  float: left;
  width: 25%;
}

.img-case {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.img-case img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 80%;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.img-case img:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* Styling how it works section */

.step-section {
  background-color: #ececec;
}

.works:first-child {
  padding-right: 2%;
  text-align: right;
}

.works:last-child {
  padding: 0 1%;
  margin-top: 80px;
}

.works img {
  width: 50%;
}

.steps-work {
  margin-bottom: 80px;
}

.steps-work div {
  border: 2px solid #ff8800;
  text-align: center;
  display: block;
  width: 60px;
  height: 55px;
  font-size: 23px;
  border-radius: 50%;
  padding-top: 10px;
  float: left;
  margin-right: 10px;
}

.steps-work:last-of-type {
  margin-bottom: 100px;
}

.btn-app {
  padding: 2% 0;
  width: 49%;
  float: left;
  margin: 0px;
}

.btn-app img {
  height: 60px;
  width: 80%;
}

/* Styling cities-section */

.box img {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.cities-data {
  margin: 20px 0px;
}

.small-icon {
  color: #ff8800;
  margin: -5px 10px 0 0;
  font-size: 120%;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.twitter-link:link,
.twitter-link:visited {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: #000;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  -o-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
  padding-bottom: 3px;
}

.twitter-link:active,
.twitter-link:hover {
  color: #3f32ff;
  border-bottom: 2px solid #ff8800;
}

/*Styling testimonials section */

.testimonials-section {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./img/back-customers.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/back-customers.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-weight: 300;
  font-size: 100%;
}

blockquote {
  font-style: italic;
  margin: 0 0 20px 0;
  line-height: 145%;
  padding: 2%;
}

blockquote::before {
  content: "\0022";
  font-size: 360%;
}

cite {
  font-size: 100%;
  display: block;
}

cite img {
  border-radius: 50%;
  height: 60px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

/* Styling plans section */

.plans-section {
  background-color: #c0c0c0;
}

.plan-box {
  border: 1px solid;
  border-radius: 10px;
  background-color: #313131;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 3%;
}

.price-plan {
  font-size: 400%;
  font-weight: 300;
  margin-bottom: 20px;
}

.price-plan-meal {
  font-size: 110%;
  font-weight: 300;
}

span {
  font-size: 20%;
  font-weight: 300;
}

.plan-box div {
  padding: 4%;
  color: #ee7f00;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 10px 0;
}

/* Styling contact-section */

.contact-section {
  background: rgb(95, 245, 238);
  background: -webkit-linear-gradient(
    linear,
    left top,
    right top,
    from(rgba(95, 245, 238, 1)),
    color-stop(51%, rgba(9, 73, 121, 1)),
    to(rgba(0, 185, 255, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(95, 245, 238, 1) 0%,
    rgba(9, 73, 121, 1) 51%,
    rgba(0, 185, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(95, 245, 238, 1) 0%,
    rgba(9, 73, 121, 1) 51%,
    rgba(0, 185, 255, 1) 100%
  );
  font-weight: 450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #616060;
}

textarea {
  height: 200px;
}

input[type="checkbox"] {
  margin: 0 25px 0 0;
}

/* Styling footer section */

footer {
  background-color: #1f1f1f;
}

.footer-nav {
  float: left;
}

.social-link {
  float: right;
}

.footer-nav li,
.social-link li {
  display: inline-block;
  list-style: none;
  margin: 10px 25px 0 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:visited,
.social-link li a:link {
  text-decoration: none;
  color: #616a75;
  padding: 0 0 5px 0;
  font-weight: 400;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  border: none;
  border-bottom: 1px solid #cccccc;
  color: #c0c0c0;
}

.footer-nav li:last-child,
.social-link li:last-child {
  margin-right: 0;
}

.social-link li a {
  font-size: 140%;
}

.footer-para {
  text-align: center;
  padding: 80px 0 70px 0;
  color: #949494;
}

.fa-facebook:hover,
.fa-facebook:active {
  color: #3b5998;
}

.fa-instagram:hover,
.fa-instagram:active {
  color: #c32aa3;
}

.fa-twitter:hover,
.fa-twitter:active {
  color: #1da1f2;
}

.fa-google-plus-g:hover,
.fa-google-plus-g:active {
  color: #fbbc05;
}
